[submodule "ms-catalogo"]
	path = ms-catalogo
	url = https://github.com/JoaquinLepez/ms-catalogo.git
[submodule "ms-compras"]
	path = ms-compras
	url = https://github.com/JoaquinLepez/ms-compras.git
[submodule "ms-pagos"]
	path = ms-pagos
	url = https://github.com/JoaquinLepez/ms-pagos.git
[submodule "ms-inventario"]
	path = ms-inventario
	url = https://github.com/JoaquinLepez/ms-inventario.git
